@import url(http://fonts.googleapis.com/css?family=Fjalla+One);


/* Header Styling */

h1, h2, h3 {
  text-align: center;
  line-height: 100%;
  font-family: font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.poster {
  height: 500px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: grey;
}

/* The Classy Roommate */
.poster #audrey {
  border: 20px ridge blue;
  display: block;
  margin:0 auto;
  
}

/*"The Neurotic New Yorker"*/
#obama, #new_york {
  border: 20px solid red;
}

#new_york {
  padding: 10px 10px 10px 10px;  
}
  
/*"The Change the World Roommate"*/
#obama2 {
  float: left;
  border: 20px ridge blue;
}
  
#rosie {
  float: left;
  border: 10px dashed black;
  
}

/*"The Art History Major"*/

div#art img {
  height: 300px;
  width: 200px;

}

div#art {
  border: 20px solid black; 
  display: block;
  margin: 0 auto;
}




/*"New Theme"*/

