@import url(http://fonts.googleapis.com/css?family=Fjalla+One);


/* Header Styling */

h1, h2, h3 {
  text-align: center;
  line-height: 100%;
  font-family: font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.poster {
  height: 500px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: grey;
}

/*"The Classy Roommate"*/
#audrey{
  border: 20px double;
  border-color:#FFD7CE;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

/*"The Neurotic New Yorker"*/

#ny1{
  border: 10px solid;
  border-color:black;
}
  
#woody{
  border:10px solid;
  border-color:black;
  padding: 55px 30px 55px 30px;
  background-color:white;
}
/*"The Change the World Roommate"*/
#obama{
  float:left;
  border:10px dotted;
}

#rosie{
  float:right;
  border:5px solid;
  border-color:red;
}

/*"The Art History Major"*/
#frame{
  border:solid;
}
#frame img {
    width: 40%;
    height: auto;
}

#warhol{
  float:right;
  padding: 30px 0px 31px 0px;
  background-color:white;
}


/*"New Theme"*/

