@import url(http://fonts.googleapis.com/css?family=Fjalla+One);


/* Header Styling */

h1, h2, h3 {
  text-align: center;
  line-height: 100%;
  font-family: font-family: 'Fjalla One', sans-serif;
}

h1 {
  font-size: 50px;
};

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
}

.poster {
  height: 500px;
  width: 800px;
  border: 1px dashed;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px 10px 10px;
  background: grey;
}

/*"The Classy Roommate"*/

#Aud {
  margin: 0 auto;
  border: 20px solid green;
  display: block;
}
/*"The Neurotic New Yorker"*/
#ny {
  
  border: 20px solid green;
  
}
  #wood {
 padding-bottom: 55px;
    padding-top: 55px;
    padding-left: 30px;
    padding-right: 30px;
  border: 20px solid green;
  }



/*"The Change the World Roommate"*/

#obama{
float: left;
  border:20px solid green;
 
}
#rr {
  float:right;
  border: 20px solid blue;
}
/*"The Art History Major"*/

.double{
  text-align: center;
  border: 20px solid orange;
}
#war{
  height: 300px;
  margin:
}
#pic{
  height: 300px;
}

/*"New Theme"*/

}


